<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<meta charset="UTF-8">
    <title>record</title>
</head>
<body>

<div class="row">
  <div class="col-md-4">
      <p style="text-align:center; left: 100px; position: absolute; top: 20px; font-size:180%">我的账户</p>
      <p style="text-align:center; left: 300px; position: absolute; top: 20px; font-size:180%">商城</p>

	<h3 style="text-align:center; left: 100px; position: absolute; top: 250px;">卡片</h3>
	<h3 style="text-align:center; left: 100px; position: absolute; top: 300px;">..</h3>
	<h3 style="text-align:center; left: 100px; position: absolute; top: 350px;">..</h3>
	<h3 style="text-align:center; left: 100px; position: absolute; top: 400px;">..</h3>
  </div>
  <div class="col-md-8" style="background:rgb(247,247,247);height:950px">

      <div class="row">
          <div class="col-md-6">
          <img src="/static/happy.jpeg" class="img-thumbnail">
          </div>
          <div class="col-md-6">
              <p style="text-align:center; left: 70px; position: absolute; top: 80px; font-size:150%">手工调制浓缩咖啡</p>
              <p style="text-align:center; left: 70px; position: absolute; top: 120px; font-size:180%">美式咖啡（热/冷）</p>
              <p style="text-align:center; left: 70px; position: absolute; top: 170px; font-size:100%">简单即是美味，萃取经典浓缩咖啡，以水调和，香气浓郁蔓溢。</p>
          </div>
      </div>

      <p style="text-align:center; left: 30px; position: absolute; margin-top: 30px; font-size:150%">猜你喜欢</p>

      <div class="row">
          <div class="col-md-2">
              <img style="width: 130px;margin-top: 80px;" src="/static/happy.jpeg" class="img-thumbnail">
          </div>
          <div class="col-md-2">
              <img style="width: 130px;margin-top: 80px;" src="/static/happy.jpeg" class="img-thumbnail">
          </div>
          <div class="col-md-2">
              <img style="width: 130px;margin-top: 80px;" src="/static/happy.jpeg" class="img-thumbnail">
          </div>
          <div class="col-md-2">
              <img style="width: 130px;margin-top: 80px;" src="/static/happy.jpeg" class="img-thumbnail">
          </div>
          <div class="col-md-2">
              <img style="width: 130px;margin-top: 80px;" src="/static/happy.jpeg" class="img-thumbnail">
          </div>
          <div class="col-md-2">
              <img style="width: 130px;margin-top: 80px;" src="/static/happy.jpeg" class="img-thumbnail">
          </div>
      </div>

</div>



  </div>
</div>


</body>
</html>