<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        a:link {color: black}    /*未被访问的链接*/
        a:visited {color: black} /* 已被访问过的链接*/
        a:hover {color:black}    /* 鼠标悬浮在上的链接*/
        a:active {color: black}   /* 鼠标点中激活链接*/
    </style>
	<meta charset="UTF-8">
    <title>record</title>
</head>
<body>

<div class="row">
  <div class="col-md-4">
      <a href={{url_for("record")}}> <p style="text-align:center; left: 100px; position: absolute; top: 20px; font-size:180%">我的账户</p> </a>
      <a href={{url_for("shop")}}> <p style="text-align:center; left: 300px; position: absolute; top: 20px; font-size:180%">商城</p> </a>

	<h3 style="text-align:center; left: 100px; position: absolute; top: 250px;">卡片</h3>
	<h3 style="text-align:center; left: 100px; position: absolute; top: 300px;">..</h3>
	<h3 style="text-align:center; left: 100px; position: absolute; top: 350px;">..</h3>
	<h3 style="text-align:center; left: 100px; position: absolute; top: 400px;">..</h3>
  </div>
  <div class="col-md-8" style="background:rgb(247,247,247);height:950px">

      <div class="row">
          <div class="col-md-6">
          <img src={{img['card_url']}}{{card['card_id']}}{{img['card_filetype']}} class="img-thumbnail">
          </div>
          <div class="col-md-6">
              <p style="text-align:center; left: 70px; position: absolute; top: 80px; font-size:150%">{{card['card_type']}}</p>
              <p style="text-align:center; left: 70px; position: absolute; top: 120px; font-size:180%">{{card['card_name']}}</p>
              <p style="text-align:center; left: 70px; position: absolute; top: 170px; font-size:100%">{{card['card_info']}}</p>
          </div>
      </div>

      <p style="text-align:center; left: 30px; position: absolute; margin-top: 30px; font-size:150%">猜你喜欢</p>

      <div class="row">

          {% for i in range(6) %}
          <div class="col-md-2">
              <img style="width: 130px;margin-top: 80px;" src="/static/pic/card/1.png" class="img-thumbnail">
          </div>
          {% endfor %}

      </div>

</div>



  </div>
</div>


</body>
</html>