<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
        a:link {color: black}    /*未被访问的链接*/
        a:visited {color: black} /* 已被访问过的链接*/
        a:hover {color:black}    /* 鼠标悬浮在上的链接*/
        a:active {color: black}   /* 鼠标点中激活链接*/
    </style>
	<meta charset="UTF-8">
    <title>record</title>
</head>
<body>

<div class="row">
  <div class="col-md-4">
	  <a href={{url_for("record")}}> <p style="text-align:center; left: 100px; position: absolute; top: 20px; font-size:180%">我的账户</p> </a>
      <a href={{url_for("shop")}}> <p style="text-align:center; left: 300px; position: absolute; top: 20px; font-size:180%">商城</p> </a>

	  <!-- todo: 晚上好-->
	  <h2 style="text-align:center; left: 100px; position: absolute; top: 200px;">晚上好: {{session['user_name']}}</h2>
	  <h3 style="text-align:center; left: 100px; position: absolute; top: 250px;">账户一览</h3>
	  <h3 style="text-align:center; left: 100px; position: absolute; top: 300px;">消费记录</h3>
	  <h3 style="text-align:center; left: 100px; position: absolute; top: 350px;">管理我的账户</h3>
	  <h3 style="text-align:center; left: 100px; position: absolute; top: 400px;">关于</h3>
  </div>
  <div class="col-md-8" style="background:rgb(247,247,247);height:950px">


	<ul id="myTab" class="nav nav-tabs" style="margin-top:30px;">
    <li class="active">
        <a href="#home" data-toggle="tab">
            消费记录
        </a>
    </li>
    <li><a href="#xinxin" data-toggle="tab">星星记录</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade in active" id="home">

			<div class="table-responsive">
				<table class="table table-hover">
					<caption>消费记录通常会在您消费后的24小时内记录到您的帐户中。</caption>
					<thead>
					  <tr>
						<th>日期</th>
						<th>交易类型</th>
						<th>金额</th>
						<th>交易状态</th>
					  </tr>
					</thead>
					<tbody>
						<tr>
						<td>2019/01/08 03:00 PM</td>
						<td>购买卡片</td>
						<td>24❤</td>
						<td>支付完成</td>
						</tr>
						<tr>
						<td>2019/01/08 03:00 PM</td>
						<td>购买卡片</td>
						<td>24❤</td>
						<td>支付完成</td>
						</tr>
						<tr>
						<td>2019/01/08 03:00 PM</td>
						<td>购买卡片</td>
						<td>24❤</td>
						<td>已完成</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
		<div class="tab-pane fade" id="xinxin">

			<div class="table-responsive">
				<table class="table table-hover">
					<caption>消费记录通常会在您消费后的24小时内记录到您的帐户中。</caption>
					<thead>
					  <tr>
						<th>日期</th>
						<th>交易类型</th>
						<th>金额</th>
						<th>交易状态</th>
					  </tr>
					</thead>
					<tbody>
						<tr>
						<td>2019/01/08 03:00 PM</td>
						<td>充值</td>
						<td>5❤</td>
						<td>已完成</td>
						</tr>
						<tr>
						<td>2019/01/08 03:00 PM</td>
						<td>充值</td>
						<td>5❤</td>
						<td>已完成</td>
						</tr>
					</tbody>
				</table>
			</div>


		</div>
	</div>



  </div>
</div>


</body>
</html>