<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<meta charset="UTF-8">
    <title>record</title>
</head>
<body>

<div class="row">
  <div class="col-md-4">
      <p style="text-align:center; left: 100px; position: absolute; top: 20px; font-size:180%">我的账户</p>
      <p style="text-align:center; left: 300px; position: absolute; top: 20px; font-size:180%">商城</p>

	<h3 style="text-align:center; left: 100px; position: absolute; top: 250px;">卡片</h3>
	<h3 style="text-align:center; left: 100px; position: absolute; top: 300px;">..</h3>
	<h3 style="text-align:center; left: 100px; position: absolute; top: 350px;">..</h3>
	<h3 style="text-align:center; left: 100px; position: absolute; top: 400px;">..</h3>
  </div>
  <div class="col-md-8" style="background:rgb(247,247,247);height:950px">
        <img src="/static/pic/card/card1.png" class="img-thumbnail">


  </div>
</div>



  </div>
</div>


</body>
</html>